.team {
  padding-top: 94px;
  padding-bottom: 94px;
  margin: auto;
  max-width: 1600px;
  background-color: #f5f4fa;
}

.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primery-black);
  margin: 0px;
  margin-bottom: 50px;
}

.team-list {
  margin: 0px;
  display: flex;
  margin-left: -30px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.team-list__item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-img {
  height: auto;
  display: block;
  max-width: 100%;
}

.team__member {
  margin: 0px;
  margin-right: auto;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primery-black);
}

.team__member-discriptin {
  margin-top: 0px;

  margin: 0px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primery-grey);
}
