.works {
  padding-top: 0px;
  padding-bottom: 94px;
}

.works__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primery-black);
  padding-bottom: 0px;
  border: 0px;
  margin-top: 0px;
  margin-bottom: 50px;
}

.works__list {
  display: flex;
  margin: 0px;
  padding-left: 0px;
}

.works-list__item:not(:last-child) {
  margin-right: 30px;
}

.works__img-thumb {
  position: relative;
  height: auto;
  display: block;
  max-width: 100%;
}

.works__img-description {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  margin-top: 224px;
  padding: 27px;
  background-color: #2f303acc;
  color: var(--primery-white);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
