.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 528px;
  height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: scale(1) translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}

.backdrop.is-hidden .modal {
  transform: scale(0) translate(-50%, -50%);
}

.modal-close-button {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0px;
  margin: 0px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--primery-white);
  top: 8px;
  right: 8px;
  cursor: pointer;
  &:hover .icon-close-modal,
  &:focus .icon-close-modal {
    fill: var(--primery-blue);
  }
}

.icon-close-modal {
  width: 11px;
  height: 11px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-title {
  margin: 0px;
  padding-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primery-black);
}

.modal-label {
  display: block;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: var(--primery-grey);
}

.modal-input {
  display: block;

  height: 40px;
  width: 100%;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    outline: none;
    border-color: var(--primery-blue);
  }
  &:focus + .modal-icon {
    fill: var(--primery-blue);
  }
}

.madal-input-wraper {
  display: block;
  position: relative;
  padding-top: 4px;
}

.modal-comment {
  display: block;
  width: 100%;
  height: 120px;
  margin-top: 4px;
  padding: 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    outline: none;
    border-color: var(--primery-blue);
  }
  &::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.modal-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: var(--primery-black);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check-discription {
  padding-top: 20px;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primery-grey);
  &::before {
    display: inline-block;
    margin-right: 8px;
    content: "";
    width: 15px;
    height: 15px;
    border: solid 2px #212121;
    border-radius: 1px;
  }
}

.modal-check:checked + .modal-check-discription::before {
  background-image: url("../img/icon-check.svg");
  background-position: center;
  height: 15px;
  width: 15px;
  border: none;
}

.modal-check:focus + .modal-check-discription::before {
  outline: 2px solid #188ce8;
}

.modal-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--primery-blue);
}
